.list{
    margin: 0 auto;
    width: 1200px;
    /* height: 700px; */
    outline: 5px solid red;
    display: flex;
    /* gap: 30px; */
    column-gap: 30px;
    row-gap: 100px;
    /* flex-direction: column-reverse; */
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    /* align-content: space-evenly; */
}

.item{
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: #fff;
    outline: 3px solid black;
}

.item:first-child{
    background-color: salmon;
}

.item:nth-child(2){
    background-color: aqua;
}

.item:nth-child(3){
    background-color: fuchsia;
}
.item:nth-child(4){
background-color: tomato;
}

.item:nth-child(5){
    background-color: mediumseagreen;
}